<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Kelly+Slab|Press+Start+2P|VT323" rel="stylesheet">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h1><span class="text-LD">LD</span><span class="text-atabase">atabase</span></h1>
          <h6 class="col-xs-12 documentation"><a href="/api">Read My API Documentation</a></h4>
        </div>
<!-- projects column -->
        <div class="main-columns col-sm-6">
          <div id="projects" class="column list-anim">
            <p class="column-heading">WDI-34 Student Projects</p>
            <ul id="project-list" class="main-list">
              <li><span>"Tic Tac Toe" by Alessandro Pianetta</span></li>
              <li><span>"Save The Enterprise!" by LD Dean</span></li>
              <li><span>"A thing" by Ryan Johnson</span></li>
              <li><span>"Global Thermonuclear War" by Stephen Falken</span></li>
            </ul>
          </div>
        </div>
<!-- meetups column -->
        <div class="main-columns col-sm-6">
          <div id="meetups" class="column list-anim">
            <p class="column-heading">Meetups</p>
            <ul id="meetup-list" class="main-list">
                <li><span>A meetup of UX cats in SF</span></li>
                <li><span>A meetup of developer geese in Oakland</span></li>
                <li><span>A meetup of data science muffins in Austin</span></li>
                <li><span>Mongeese Code! (Mongeese only please)</span></li>
            </ul>
          </div>
        </div>
        <audio id="compAudio" src="audio/processing3s.wav" type="audio/mpeg"></audio>
<!-- projects list template -->
        <script id="project-template" type="text/x-handlebars-template">
          {{#each project}}
            <p>
              <p>{{student_name}}</p>
              <p>{{project_name}}</p>
              <p>{{description}}</p>
              <p>{{image}}</p>
              <p>{{url}}</p>
              </br>
              <!-- <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button> -->
            </p>
          {{/each}}
        </script>
  </body>
</html>
