body {
  color: rgb(0,250,0);
  font-size: 2em;
  font-family: 'VT323', monospace;
  background-color: rgb(0,0,0);
}
h1 {
  margin: 0 auto;
  text-align: center;
}
h6 {
  color: rgb(0,250,0);
  font-size: 1.6em;
  text-align: center;
}
p {
  margin: 0;
  font-size: 1.2em;
}
a {
  color: rgb(0,250,0);
  padding: 2px 1px;
  text-decoration: underline;
  transition: all .2s;
}
a:hover {
  text-decoration: none;
  color: black;
  background-color: rgb(0,250,0);
}
.documentation {
font-size: 1em;
  margin: 0 0 1em 0;
  margin: 0 0 100px 0;
}
.text-LD {
  font-size: 3.5em;
}
.text-atabase {
  font-size: 2em;
}
.main-columns {
  /*text-align: center;*/
  height: 540px;
  margin: 10px auto;
  background-color: rgba(50,250,50,0);
}
.column {
  padding: 10px;
  height: auto;
  width: auto;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid rgb(0,250,0);
}
.column-heading {
  padding-left: 2em;
}
.main-list {
  margin: 0;
  color: rgba(50,250,50,0);
  max-height: 0;
  padding: 0;
  overflow: hidden;
}
.list-show {
  color: rgba(0,250,0,1);
  max-height: 10000px;
  padding: 0;
  transition: .5s ease;
}
li {
  list-style: none;
  margin: 10px 0 0 5px;
  letter-spacing: .15em;
/*TYPEWRITER ANIMATION*/
}
.typewriter {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap;
  animation:
    typing 4s steps(45, end),
    blink-caret .75s step-end 8;
}
/* The typing effect */
@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  0% { border-color: transparent}
  50% { border-color: rgba(0,250,0,.8);}
}

/*BOOTSTRAP MODS*/

.col-centered{
    float: none;
    margin: 0 auto;
}
